[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb = "*"
pyyaml = "*"
"jinja2" = "*"
enlighten = "*"

[dev-packages]
pytest = "*"
influxdb = "*"
paho-mqtt = "*"

[requires]
python_version = "3.7"
