[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
influxdb = "*"
pyyaml = "*"
"jinja2" = "*"
enlighten = "*"
click = "*"

[dev-packages]
pytest = "*"
paho-mqtt = "*"
pymongo = "*"
arrow = "*"
python-persistent-queue = "*"
requests = "*"

[requires]
python_version = "3.7"
