{% if use_lets_encrypt %}
# Let's Encrypt configuration
LETSENCRYPT_EMAIL={{ lets_encrypt_email }}
{% endif %}

# InfluxDB configuration
INFLUXDB_HOST=influxdb
INFLUXDB_DB={{ influxdb_database }}
INFLUXDB_VIRTUAL_HOST={{ influxdb_hostname }}
INFLUXDB_SSL=false

# MongoDB configuration
MONGO_HOST=mongodb
MONGO_DATABASE={{ mongodb_database }}
MONGO_VIRTUAL_HOST={{ mongodb_hostname }}

# Mosquitto configuration
MQTT_HOST=mosquitto
MQTT_VIRTUAL_HOST={{ mqtt_hostname }}

# Grafana configuration
GF_VIRTUAL_HOST={{ grafana_hostname }}
GF_VIRTUAL_PORT=3000

# Status configuration
DASH_BASIC_AUTH_USERNAME={{ status_user.name }}
DASH_BASIC_AUTH_PASSWORD={{ status_user.password }}
DASH_INFLUXDB_USERNAME={{ influxdb_status.name }}
DASH_INFLUXDB_PASSWORD={{ influxdb_status.password }}
DASH_MONGO_USER={{ mongo_status_reader.name }}
DASH_MONGO_PASSWORD={{ mongo_status_reader.password }}
DASH_SERVER_UPDATE_TIME=30
DASH_VIRTUAL_HOST={{ status_hostname }}

# Export Tool configuration
ET_BASIC_AUTH_USERNAME={{ export_user.name }}
ET_BASIC_AUTH_PASSWORD={{ export_user.password }}
ET_INFLUXDB_USERNAME={{ influxdb_export.name }}
ET_INFLUXDB_PASSWORD={{ influxdb_export.password }}
ET_VIRTUAL_HOST={{ export_hostname }}

# HA Subscriber configuration
HA_SUB_INFLUXDB_USERNAME={{ influxdb_mqtt_ha_uploader.name }}
HA_SUB_INFLUXDB_PASSWORD={{ influxdb_mqtt_ha_uploader.password }}
HA_SUB_MQTT_USER={{ mqtt_ha_subscriber.name }}
HA_SUB_MQTT_PASSWORD={{ mqtt_ha_subscriber.password }}
HA_SUB_MQTT_TOPICS={{ mqtt_ha_subscriber_topic }}

# EpiFi Subscriber configuration
SUB_INFLUXDB_USERNAME={{ influxdb_mqtt_uploader.name }}
SUB_INFLUXDB_PASSWORD={{ influxdb_mqtt_uploader.password }}
SUB_INFLUX_DATABASE={{ influxdb_database }}
SUB_MQTT_USER={{ mqtt_subscriber.name }}
SUB_MQTT_PASSWORD={{ mqtt_subscriber.password }}
SUB_MQTT_TOPICS={{ mqtt_subscriber_topic }}
SUB_MONGO_USER={{ mongo_mqtt_reader.name }}
SUB_MONGO_PASSWORD={{ mongo_mqtt_reader.password }}
