{% if use_lets_encrypt %}
# Let's Encrypt configuration
LETSENCRYPT_EMAIL={{ lets_encrypt_email }}
{% endif %}

# InfluxDB configuration
INFLUXDB_HOST=influxdb
INFLUXDB_DB={{ influxdb_database }}
INFLUXDB_VIRTUAL_HOST={{ influxdb_hostname }}
INFLUXDB_SSL=false

# MongoDB configuration
MONGO_HOST=mongodb
MONGO_DATABASE={{ mongodb_database }}
MONGO_VIRTUAL_HOST={{ mongodb_hostname }}

# Mosquitto configuration
MQTT_HOST=mosquitto
MQTT_VIRTUAL_HOST={{ mqtt_hostname }}

# Grafana configuration
GF_VIRTUAL_HOST={{ grafana_hostname }}
GF_VIRTUAL_PORT=3000

# Status configuration
DASH_INFLUXDB_USERNAME=reader
DASH_INFLUXDB_PASSWORD=password
DASH_MONGO_USER=status_reader
DASH_MONGO_PASSWORD=password
DASH_SERVER_UPDATE_TIME=30
DASH_VIRTUAL_HOST={{ dash_hostname }}

# Export Tool configuration
ET_BASIC_AUTH_USERNAME=phil
ET_BASIC_AUTH_PASSWORD=test
ET_INFLUXDB_USERNAME=reader
ET_INFLUXDB_PASSWORD=password
ET_SECRET_KEY=test
ET_VIRTUAL_HOST={{ export_hostname }}

# HA Subscriber configuration
HA_SUB_INFLUXDB_USERNAME=writer
HA_SUB_INFLUXDB_PASSWORD=password
HA_SUB_MQTT_USER=prisms_ha_subscriber
HA_SUB_MQTT_PASSWORD=None
HA_SUB_MQTT_TOPICS=prisms_ha/#

# PRISMS Subscriber configuration
PRISMS_SUB_INFLUXDB_USERNAME=writer
PRISMS_SUB_INFLUXDB_PASSWORD=password
PRISMS_SUB_MQTT_USER=prisms_subscriber
PRISMS_SUB_MQTT_PASSWORD=None
PRISMS_SUB_MQTT_TOPICS=prisms/#
PRISMS_SUB_MONGO_USER=mqtt_reader
PRISMS_SUB_MONGO_PASSWORD=password
